html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h3 {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #00c48d;
  color: #00c48d;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-flex;
  align-self: center;
}

.button--green:hover {
  color: #fff;
  background-color: #00c48d;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #2e495e;
  color: #2e495e;
  text-decoration: none;
  padding: 10px 30px;
}

.button--grey:hover {
  color: #fff;
  background-color: #2e495e;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid grey;
}

// Extra border above footer
tfoot th {
  border-top: 2px solid grey;
}

td {
  border-bottom: 1px solid grey;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

caption {
  padding: 5px 0;
  caption-side: bottom;
  color: rgb(87, 86, 86);
}

.striped-table tbody tr:nth-child(odd) {
  background-color: rgb(61, 60, 60);
}
